@model IEnumerable<Descuentar.Models.Cupon>

@{
    ViewData["Title"] = "Index";
}

<h1>Thanks!</h1>
<p>Ýour cupon id is @Html.DisplayNameFor(model => model.ID) </p>
<p>To use it just paste it or copy it. (Keseio)</p>
